.week-day-selector input {
  display: none !important;
}

.week-day-selector input[type='checkbox'] + label {
  display: inline-block;
  font-size: 75%;
  border: 1px solid #aaa;
  border-radius: 50%;
  background: #fff;
  height: 40px;
  width: 40px;
  padding: 1px;
  margin: 1px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.week-day-selector input[type='checkbox']:checked + label {
  background: #0095ff;
  color: #fff;
}
