<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-9">
        <h3>
          Installments
        </h3>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body class="body-container">
    <div class="row">
      <div class="col-md-12">
        <ng-container *ngIf="!loading; else loadingData">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr class="border shadow-sm">
                  <td>
                    <span> <strong>Category: </strong>{{ studentCourse.categoryName }} </span>
                    <br />
                    <span>
                      <strong>Course/Batch: </strong>{{ studentCourse.courseName }}/{{
                        studentCourse.batchName
                      }}
                    </span>
                    <br />
                    <span>
                      <strong>Date: </strong
                      >{{ dateService.formatDate(studentCourseInstallment.date) }}
                    </span>
                  </td>
                  <td>
                    <span>
                      <strong>Collected Amount: </strong
                      >{{ studentCourseInstallment.amountCollected }}
                    </span>
                    <br />
                    <span>
                      <strong>Pending Amount: </strong>{{ studentCourseInstallment.pendingAmount }}
                    </span>
                    <br />
                    <span
                      ><strong>Total Amount: </strong
                      >{{ studentCourseInstallment.totalAmount }}</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <br />

          <div
            class="table-responsive"
            *ngIf="
              studentCourseInstallment.installments.length > 0;
              else noStudentCourseInstallments
            "
          >
            <table class="table">
              <thead>
                <tr>
                  <th>Installment No</th>
                  <th>Installment Date</th>
                  <th>Installment Amount</th>
                  <th>Pending Amount</th>
                  <th>{{ paymentGatewayAccessKey ? 'Pay/' : '' }}Receipt</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let installment of studentCourseInstallment.installments; let i = index"
                >
                  <td>Installment {{ installment.installmentNo }}</td>
                  <td>{{ dateService.formatDate(installment.installmentDate) }}</td>
                  <td>{{ installment.installmentAmount }}</td>
                  <td>{{ installment.amountPending }}</td>
                  <td>
                    <button
                      nbButton
                      [status]="installment.receiptId ? 'success' : 'info'"
                      size="small"
                      (click)="
                        installment.receiptId
                          ? showReceipt(installment.receiptId)
                          : payInstallment(installment._id)
                      "
                      *ngIf="installment.receiptId || paymentGatewayAccessKey"
                    >
                      {{ installment.receiptId ? 'Receipt' : ' Pay' }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #noStudentCourseInstallments>
            <p class="text-center">No Course Installments Available</p>
          </ng-template>
        </ng-container>
        <ng-template #loadingData>
          <p class="text-center">Loading...</p>
        </ng-template>
      </div>
    </div>
  </nb-card-body>
</nb-card>
