<div class="backdrop" (close)="onClose()"></div>
<div class="image-croper">
  <span class="float-right btn-close" (click)="onClose()">X</span>
  <h3 class="text-center">Image Croper</h3>

  <!-- [aspectRatio]="1 / 1" -->
  <image-cropper
    class="image-cropper"
    [maintainAspectRatio]="false"
    format="jpeg"
    *ngIf="image"
    [imageBase64]="image"
    (imageCropped)="imageCropped($event)"
  ></image-cropper>

  <hr />
  <div class="image-croper-actions">
    <button class="btn btn-primary" (click)="onCrop()">Crop</button>
  </div>
</div>
