<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6 col-sm-4">
        <h3>Schedule Class</h3>
      </div>
      <div class="col-md-3 col-sm-4">
        <nb-select
          id="select-category"
          name="category"
          [selected]="category"
          fullWidth
          placeholder="Select Category"
          (selectedChange)="onSelectCategory($event)"
        >
          <nb-option value="">All Categories</nb-option>
          <nb-option *ngFor="let category of categories" [value]="category._id">{{
            category.category
          }}</nb-option>
        </nb-select>
      </div>
      <div class="col-md-3 col-sm-4">
        <nb-select
          id="select-course"
          name="course"
          [selected]="course"
          fullWidth
          placeholder="Select Course"
          (selectedChange)="onSelectCourse($event)"
        >
          <nb-option value="">All Courses</nb-option>
          <nb-option *ngFor="let course of myCourses" [value]="course._id">{{
            course.basicDetails.courseName
          }}</nb-option>
        </nb-select>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body class="body-container">
    <div class="row">
      <div class="col-md-12">
        <ng-container *ngIf="!loading; else loadingData">
          <div class="table-responsive" *ngIf="batches.length > 0; else noBatches">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Course</th>
                  <th>Start Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let batch of batches; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ batch.basicDetails.batchName }}</td>
                  <td>{{ getCategory(batch.category) }}</td>
                  <td>{{ getCourse(batch.course) }}</td>
                  <td>{{ dateService.formatDate(batch.basicDetails.startDate) }}</td>
                  <td>
                    <button nbButton size="small" status="primary" (click)="manageSchedule(batch)">
                      Manage Schedule
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #noBatches>
            <p class="text-center pt-5 pb-5">No Batches Available</p>
          </ng-template>
        </ng-container>
        <ng-template #loadingData>
          <p class="text-center pt-5 pb-5">Loading...</p>
        </ng-template>
      </div>
    </div>
  </nb-card-body>
</nb-card>
