<nb-card>
  <nb-card-header>
    <h3>Pricing</h3>
  </nb-card-header>
  <nb-card-body>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr class="table-header">
            <th class="feature-heading">Feature</th>
            <th class="first-heading">1 Month</th>
            <th class="second-heading">6 Month</th>
            <th class="third-heading">12 Month</th>
          </tr>
        </thead>
        <tbody class="">
          <tr>
            <td class="feature-title">CLASS MANAGEMENT</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">CLASS MANAGEMENT</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">STUDENT MANAGEMENT</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">ATTENDANCE MANAGEMENT</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">STUDY MATERIAL STORAGE & SHARING</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">HOMEWORK MANAGEMENT</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">STUDENT PERFORMANCE TRACKER</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">FEE MANAGEMENT</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">EMPLOYEE MANAGEMENT</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">SALARY MANAGEMENT</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">LEAVE MANAGEMENT</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">REAL TIME BUSINESS REPORTS</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">REAL TIME NOTIFICATIONS</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">REMINDER AND ALERTS</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">LECTURE MANAGEMENT</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">EXAM MANAGEMENT</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">ONLINE EXAM MANAGEMENT</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
          <tr>
            <td class="feature-title">ONLINE EXAM MANAGEMENT</td>
            <td class="first-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="second-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
            <td class="third-title"><nb-icon status="success" icon="checkmark"></nb-icon></td>
          </tr>
        </tbody>
        <tr>
          <td class="feature-footer"></td>
          <td class="first-footer">
            <button nbButton (click)="activate('1 Month', '999')">Activate</button>
          </td>
          <td class="second-footer">
            <button nbButton (click)="activate('6 Month', '4999')">Activate</button>
          </td>
          <td class="third-footer">
            <button nbButton (click)="activate('12 Month', '9999')">Activate</button>
          </td>
        </tr>
        <tfoot></tfoot>
      </table>
    </div>
  </nb-card-body>
</nb-card>
