.table-header {
  height: 4rem;
}

.first-heading,
.second-heading,
.third-heading,
.fourth-heading {
  text-align: center;
}

.feature-heading {
}

.first-heading {
}

.second-heading {
}

.third-heading {
}

.fourth-heading {
}

.first-title,
.second-title,
.third-title,
.fourth-title {
  text-align: center;
}

.feature-title {
}

.first-title {
}

.second-title {
}

.third-title {
}

.fourth-title {
}

.first-footer,
.second-footer,
.third-footer,
.fourth-footer {
  text-align: center;
}

.feature-footer {
}

.first-footer {
}

.second-footer {
}

.third-footer {
}

.fourth-footer {
}
