<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-12">
        <button
          type="button"
          class="float-right"
          nbButton
          status="warning"
          size="tiny"
          (click)="back()"
        >
          Back
        </button>

        <h3>
          Lecture Material
        </h3>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body class="body-container">
    <div class="row">
      <div class="col-md-12">
        <ng-container *ngIf="!loading; else loadingData">
          <div
            class="table-responsive"
            *ngIf="lectureMaterials.length > 0; else noLectureMaterials"
          >
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th colspan="3">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lectureMaterial of lectureMaterials; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ lectureMaterial.title }}</td>

                  <td>
                    <button
                      nbButton
                      status="info"
                      size="small"
                      (click)="viewLectureMaterial(lectureMaterial)"
                    >
                      View
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #noLectureMaterials>
            <p class="text-center">No Lecture Material Available</p>
          </ng-template>
        </ng-container>
        <ng-template #loadingData>
          <p class="text-center">Loading...</p>
        </ng-template>
      </div>
    </div>
  </nb-card-body>
</nb-card>
