<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-9 col-sm-8">
        <h3>Exam Score</h3>
      </div>
      <div class="col-md-3 col-sm-4">
        <button class="float-right" nbButton status="warning" size="tiny" (click)="back()">
          Back
        </button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-md-6 col-12">
            <span><strong>Exam Title: </strong>{{ exam.examTitle }}</span>
            <br />
            <span><strong>Date: </strong>{{ dateService.formatDate(exam.date) }}</span>
            <br />
            <span><strong>Time: </strong>{{ dateService.formatTime(exam.time) }}</span>
            <br />
            <span><strong>Duration: </strong>{{ exam.duration }} Min</span>
          </div>
          <div class="col-md-6 col-12">
            <span><strong>Category: </strong>{{ category.category }}</span>
            <br />
            <span><strong>Course: </strong>{{ course.basicDetails.courseName }}</span>
            <br />
            <span><strong>Batch: </strong>{{ batch.basicDetails.batchName }}</span>
            <br />
            <span><strong>Subject: </strong>{{ getSubject(exam.subject) }}</span>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <ng-container *ngIf="examMarksForm.get('marks')['controls'].length > 0; else noStudents">
          <form class="" (submit)="saveMarks()" [formGroup]="examMarksForm">
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Student Name</th>
                        <th>Roll Number</th>
                        <th>Marks</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container
                        *ngFor="
                          let studentScore of examMarksForm.get('marks')['controls'];
                          let i = index
                        "
                      >
                        <tr [formGroup]="studentScore">
                          <td>{{ studentScore.value.name }}</td>
                          <td>{{ studentScore.value.rollNumber }}</td>
                          <td>
                            <div class="form-control-group">
                              <input
                                type="number"
                                nbInput
                                fullWidth
                                size="small"
                                [id]="studentScore.student"
                                [name]="studentScore.student"
                                class="input-marks"
                                formControlName="marks"
                                placeholder="Marks of {{ studentScore.value.name }}"
                                min="0"
                                [max]="exam.outOfMarks"
                                [status]="
                                  studentScore.get('marks').touched
                                    ? studentScore.get('marks').invalid
                                      ? 'danger'
                                      : 'success'
                                    : 'basic'
                                "
                              />
                              <ng-container
                                *ngIf="
                                  studentScore.get('marks').invalid &&
                                  studentScore.get('marks').touched
                                "
                              >
                                <p
                                  class="caption status-danger"
                                  *ngIf="studentScore.get('marks').errors?.required"
                                >
                                  Enter valid Marks of {{ studentScore.value.name }}
                                </p>
                                <p
                                  class="caption status-danger"
                                  *ngIf="studentScore.get('marks').errors?.min"
                                >
                                  Minimum marks should be 0
                                </p>
                                <p
                                  class="caption status-danger"
                                  *ngIf="studentScore.get('marks').errors?.max"
                                >
                                  Maximum marks should be {{ exam.outOfMarks }}
                                </p>
                              </ng-container>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-12">
                <hr />
              </div>

              <div class="col-12 text-right">
                <button type="submit" nbButton status="primary" size="small">
                  Save
                </button>
              </div>
            </div>
          </form>
        </ng-container>
        <ng-template #noStudents>
          <p class="text-center pt-5 pb-5">No Students Found</p>
        </ng-template>
      </nb-card-body>
    </nb-card>
    <ng-template #noStudentMarks>
      <p class="text-center mt-5 mb-5">
        No Students Found
      </p>
    </ng-template>
  </nb-card-body>
</nb-card>
