<div class="main-container">
  <div class="container">
    <carousel [isAnimated]="true" interval="3000">
      <slide>
        <img
          class="slide-content-image"
          src="./../../../assets/images/home/slide-1.jpg"
          alt="first slide"
        />
      </slide>
      <slide>
        <img
          class="slide-content-image"
          src="./../../../assets/images/home/slide-2.jpg"
          alt="second slide"
        />
      </slide>
      <slide>
        <img
          class="slide-content-image"
          src="./../../../assets/images/home/slide-3.jpg"
          alt="third slide"
        />
      </slide>
    </carousel>

    <nb-card class="bg-warning text-center">
      <nb-card-body>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <h4>{{ cities }}+</h4>
            <h5 class="counter-text">Cities</h5>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <h4>{{ institutes }}+</h4>
            <h5 class="counter-text">Institutes</h5>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <h4>{{ teachers }}+</h4>
            <h5 class="counter-text">Teachers</h5>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <h4>{{ students }}+</h4>
            <h5 class="counter-text">Students</h5>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <h1 class="text-center">POWER TO YOU</h1>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="far fa-calendar-alt"></i>
              </span>
              <h4>
                CLASS MANAGEMENT
              </h4>
            </div>
            <hr />
            <p>
              No more tedious paperwork and running after students to communicate your schedule.
              Easily maintain and communicate your schedules to students and parents.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="far fa-id-badge"></i>
              </span>
              <h4>
                STUDENT MANAGEMENT
              </h4>
            </div>
            <hr />
            <p>
              Maintain and manage your enrollments hassle free. Add students with a single click and
              view their details anytime, anywhere.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="fas fa-user-check"></i>
              </span>
              <h4>
                ATTENDANCE MANAGEMENT
              </h4>
            </div>
            <hr />
            <p>
              Mark your attendance digitally and instantly update parents about their child’s
              attendance. Instant communication means happier parents.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="far fa-credit-card"></i>
              </span>
              <h4>
                FEE RECORDS & MANAGEMENT
              </h4>
            </div>
            <hr />
            <p>
              Go paperless with automatic receipt generations for fee collections. Get reminded of
              and send reminders of fee instalment dates automatically.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="fas fa-user-slash"></i>
              </span>
              <h4>
                EMPLOYEE MANAGEMENT & ACCESS CONTROL
              </h4>
            </div>
            <hr />
            <p>
              Add teachers, managers and counsellors and control what they can view for your
              students and batches. Divide roles and responsibilities and keep your data secure.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="fa fa-bar-chart"></i>
              </span>
              <h4>
                INSIGHTFUL BUSINESS REPORTS
              </h4>
            </div>
            <hr />
            <p>
              Class Master enables you to look at your key business metrics consolidated into a
              single dashboard. Understand your business trends better.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="fa fa-line-chart"></i>
              </span>
              <h4>
                STUDENT PERFORMANCE TRACKER
              </h4>
            </div>
            <hr />
            <p>
              Don’t just learn. Benchmark! Now get a personalized performance record of your child’s
              performance.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="far fa-bell"></i>
              </span>
              <h4>
                REAL TIME NOTIFICATIONS & ALERTS
              </h4>
            </div>
            <hr />
            <p>
              Everything at Class Master is Real time. Reduce your cost and effort of communication
              and maintain a log to ensure that no student misses an important update.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="fa fa-video"></i>
              </span>
              <h4>
                ENHANCED LIVE CLASS EXPERIENCE
              </h4>
            </div>
            <hr />
            <p>
              Go Online! Integrate your platform of choice and provide students the comfort of
              learning from their homes and reach out to students across larger geographies to
              increase your reach and enrollments.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="fas fa-book-reader"></i>
              </span>
              <h4>
                LECTURE MANAGEMENT
              </h4>
            </div>
            <hr />
            <p>
              With Class Master Learning Management Organize your eLearning content in one location
              and Easily tracks learner progress and performance.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="far fa-edit"></i>
              </span>
              <h4>
                EXAM MANAGEMENT
              </h4>
            </div>
            <hr />
            <p>
              No more tedious paperwork to maintain mark-sheets, manage mark-sheets digitally and
              instantly update parents about their child’s Exam Performance. Instant communication
              means happier parents.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="fas fa-desktop"></i>
              </span>
              <h4>
                ONLINE EXAM MANAGEMENT
              </h4>
            </div>
            <hr />
            <p>
              With the online Exam Management, there comes hassle-free exam preparation. There are
              no more time-taking activities including manual question paper creation and printing,
              allocation of tasks to faculty, managing records of students attending exams,
              allocating rooms, and much more.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="fas fa-tasks"></i>
              </span>
              <h4>
                ASSIGNMENT MANAGEMENT
              </h4>
            </div>
            <hr />
            <p>
              Class Master Assignment Management help is regarded as the easiest way to lift off the
              academic burden. The experts handling the writing tasks are skilled to accommodate
              last minute assignments in different challenging subjects.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="fa fa-share-square"></i>
              </span>
              <h4>
                COURSE & LECTURE MATERIAL
              </h4>
            </div>
            <hr />
            <p>
              Reduce your cost of photocopies. Share your notes and material digitally to a single
              student or your entire institute at no additional cost.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
    </div>

    <h1 class="text-center">Why We?</h1>

    <div class="row">
      <div class="col-md-4 cpl-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="fa fa-share-square"></i>
              </span>
              <h4>LOW COST</h4>
            </div>
            <hr />
            <p>
              For the features it packs, Eduatlas is super value for money. We have priced our plans
              so that you end up saving at least 5 times of what you spend.
            </p>
          </nb-card-header>
        </nb-card>
      </div>

      <div class="col-md-4 cpl-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="fa fa-share-square"></i>
              </span>
              <h4>SECURE</h4>
            </div>
            <hr />
            <p>
              We know that your data is your pot of gold and for that we have secured it using SSL
              AES 256-bit encryption and multiple layers of security.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
    </div>

    <h1 class="text-center">Testimonials</h1>

    <div class="row">
      <div class="col-md-4 cpl-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="fa fa-user"></i>
              </span>
              <h4>Chinmay Palshetkar</h4>
            </div>
            <hr />
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book.
            </p>
          </nb-card-header>
        </nb-card>
      </div>

      <div class="col-md-4 cpl-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="fa fa-user"></i>
              </span>
              <h4>Sarvesh Nerurkar</h4>
            </div>
            <hr />
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book.
            </p>
          </nb-card-header>
        </nb-card>
      </div>

      <div class="col-md-4 cpl-sm-6 col-12 mx-auto">
        <nb-card>
          <nb-card-header class="service">
            <div class="text-center">
              <span class="icon">
                <i class="fa fa-user"></i>
              </span>
              <h4>Akash Kulkarni</h4>
            </div>
            <hr />
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book.
            </p>
          </nb-card-header>
        </nb-card>
      </div>
    </div>
  </div>
</div>
