<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-9">
        <h3>
          Installments
          <small>of {{ getStudentName() | async | uppercase }}</small>
        </h3>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body class="body-container">
    <div class="row">
      <div class="col-md-12">
        <ng-container *ngIf="!loading; else loadingData">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr class="border shadow-sm">
                  <td>
                    <span>
                      <strong>Course: </strong
                      >{{ getCourseName(studentCourseInstallment.course) | async }}
                    </span>
                    <br />
                    <span>
                      <strong>Date: </strong
                      >{{ dateService.formatDate(studentCourseInstallment.date) }}
                    </span>
                  </td>
                  <td>
                    <span>
                      <strong>Collected Amount: </strong
                      >{{ getAmount(studentCourseInstallment.amountCollected) }}
                    </span>
                    <br />
                    <span>
                      <strong>Pending Amount: </strong
                      >{{ getAmount(studentCourseInstallment.pendingAmount) }}
                    </span>
                    <br />
                    <span
                      ><strong>Total Amount: </strong
                      >{{ getAmount(studentCourseInstallment.totalAmount) }}</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <br />

          <div
            class="table-responsive"
            *ngIf="
              studentCourseInstallment.installments.length > 0;
              else noStudentCourseInstallments
            "
          >
            <table class="table">
              <thead>
                <tr>
                  <th>Installment No</th>
                  <th>Installment Date</th>
                  <th>Installment Amount</th>
                  <th>Pending Amount</th>
                  <th>Collect/Receipt</th>
                  <th colspan="2">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let installment of studentCourseInstallment.installments; let i = index"
                >
                  <td>Installment {{ installment.installmentNo }}</td>
                  <td>{{ dateService.formatDate(installment.installmentDate) }}</td>
                  <td>{{ getAmount(installment.installmentAmount) }}</td>
                  <td>{{ getAmount(installment.amountPending) }}</td>
                  <td>
                    <button
                      nbButton
                      size="small"
                      [status]="installment.receiptId ? 'success' : 'info'"
                      (click)="
                        installment.receiptId
                          ? showReceipt(installment.receiptId)
                          : collectInstallment(installment._id)
                      "
                    >
                      {{ installment.receiptId ? 'Receipt' : ' Collect' }}
                    </button>
                  </td>
                  <td>
                    <button
                      *ngIf="installment.receiptId"
                      nbButton
                      size="small"
                      status="basic"
                      (click)="editReceipt(installment._id, installment.receiptId)"
                    >
                      <nb-icon nbTooltip="Edit Receipt" icon="edit-outline"></nb-icon>
                    </button>
                  </td>
                  <td>
                    <button
                      *ngIf="installment.receiptId"
                      nbButton
                      size="small"
                      status="danger"
                      (click)="deleteReceipt(installment._id, installment.receiptId)"
                    >
                      <nb-icon nbTooltip="Delete Receipt" icon="trash-outline"></nb-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #noStudentCourseInstallments>
            <p class="text-center pt-5 pb-5">No Student Course Installments Available</p>
          </ng-template>
        </ng-container>
        <ng-template #loadingData>
          <p class="text-center pt-5 pb-5">Loading...</p>
        </ng-template>
      </div>
    </div>
  </nb-card-body>
</nb-card>
