<div class="backdrop" (close)="onClose()"></div>
<div class="file-container">
  <span class="float-right btn-close" (click)="onClose()"><i class="fa fa-close"></i></span>
  <h3 class="text-center">{{ attachmentFile.fileName }}</h3>
  <div class="row">
    <div class="col-12">
      <div *ngIf="fileType === 'pdf'">
        <pdf-viewer
          class="viewer"
          [src]="attachmentFile.secureUrl"
          [render-text]="false"
          [original-size]="true"
        ></pdf-viewer>
      </div>
      <div
        *ngIf="
          fileType === 'doc' || fileType === 'docx' || fileType === 'xsl' || fileType === 'ppt'
        "
      >
        <ngx-doc-viewer class="viewer" [url]="attachmentFile.secureUrl" viewer="google">
        </ngx-doc-viewer>
      </div>
      <div class="text-center" *ngIf="fileType === 'jpg' || fileType === 'png'">
        <img class="viewer" [src]="attachmentFile.secureUrl" [alt]="attachmentFile.fileName" />
      </div>
    </div>
  </div>
</div>
