<nb-card class="comment-box">
  <nb-card-header>
    <h4>Comment</h4>
  </nb-card-header>
  <nb-card-body>
    <textarea
      type="text"
      nbInput
      id="input-comment"
      name="comment"
      fullWidth
      rows="2"
      (input)="changeComment($event.target.value)"
      placeholder="Comment"
    >
    </textarea>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col-12 text-right">
        <button type="button" nbButton size="small" status="primary" (click)="submit()">
          Submit
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
