<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-9 col-sm-8">
        <h3>Exam Score</h3>
      </div>
      <div class="col-md-3 col-sm-4">
        <button class="float-right" nbButton status="warning" size="tiny" (click)="back()">
          Back
        </button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-md-6 col-12">
            <span><strong>Exam Title: </strong>{{ exam.examTitle }}</span>
            <br />
            <span><strong>Date: </strong>{{ dateService.formatDate(exam.date) }}</span>
            <br />
            <span><strong>Time: </strong>{{ dateService.formatTime(exam.time) }}</span>
            <br />
            <span><strong>Duration: </strong>{{ exam.duration }} Min</span>
          </div>
          <div class="col-md-6 col-12">
            <span><strong>Category: </strong>{{ category.category }}</span>
            <br />
            <span><strong>Course: </strong>{{ course.basicDetails.courseName }}</span>
            <br />
            <span><strong>Batch: </strong>{{ batch.basicDetails.batchName }}</span>
            <br />
            <span><strong>Subject: </strong>{{ getSubject(exam.subject) }}</span>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-12" *ngIf="students.length > 0; else noStudents">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Student Name</th>
                    <th>Roll Number</th>
                    <th>Marks</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of students; let i = index">
                    <td>{{ student.name }}</td>
                    <td>{{ student.rollNumber }}</td>
                    <td>
                      <div class="form-control-group">
                        <input
                          type="number"
                          nbInput
                          fullWidth
                          size="small"
                          [id]="student.student"
                          class="input-marks"
                          min="0"
                          [max]="exam.outOfMarks"
                          [value]="student.marks"
                          (input)="onChangeMarks($event.target.value, i)"
                          [status]="
                            !student.marks || student.marks > exam.outOfMarks || student.marks < 0
                              ? 'danger'
                              : 'basic'
                          "
                        />
                        <ng-container
                          *ngIf="
                            !student.marks || student.marks > exam.outOfMarks || student.marks < 0
                          "
                        >
                          <p class="caption status-danger">
                            Enter valid Marks of {{ student.name }}
                          </p>
                        </ng-container>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-12">
            <hr />
          </div>

          <div class="col-12 text-right">
            <button type="button" nbButton status="primary" size="small" (click)="saveMarks()">
              Save
            </button>
          </div>
        </div>
        <ng-template #noStudents>
          <p class="text-center">No Students Found</p>
        </ng-template>
      </nb-card-body>
    </nb-card>
    <ng-template #noStudentMarks>
      <p class="text-center mt-5 mb-5">
        No Students Found
      </p>
    </ng-template>

    <nb-card> </nb-card> </nb-card-body
></nb-card>
