<nb-card>
  <nb-card-body>
    <div class="row" *ngIf="!loading">
      <div class="col-12 text-center">
        <h1>{{ receipt.name }}</h1>
        <h3>{{ receipt.address }}</h3>
      </div>
    </div>

    <h5 class="text-center">Salary Slip</h5>

    <br />

    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-12 text-right">
            <span><strong>Date: </strong> {{ dateService.formatDate(salary.date) }}</span>
          </div>
          <div class="col-md-6 col-12">
            <span><strong>Employee Name: </strong> {{ employee.name }}</span>
          </div>
          <div class="col-md-6 col-12">
            <span><strong>Employee Role: </strong> {{ salary.role }}</span>
          </div>
          <div class="col-md-6 col-12">
            <span
              ><strong>Month: </strong> {{ dateService.getMonthByMonthNumber(salary.month) }}</span
            >
          </div>
          <div class="col-md-6 col-12">
            <span><strong>Year: </strong>{{ salary.year }}</span>
          </div>
          <div class="col-md-6 col-12">
            <span
              ><strong>Description: </strong
              >{{ salary.description ? salary.description : '--' }}</span
            >
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-6 col-12">
        <h5>Earnings</h5>
        <div class="table-responsive" *ngIf="salary.earnings.length > 0; else noEarnings">
          <table class="table table-am">
            <thead>
              <tr>
                <th>#</th>
                <th>Earning</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let earning of salary.earnings; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ earning.description }}</td>
                <td>{{ earning.amount }}</td>
              </tr>
              <tr>
                <th colspan="2">Total</th>
                <th>{{ totalEarning() }}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-6 col-12">
        <h5>Deductions</h5>
        <div class="table-responsive" *ngIf="salary.deductions.length > 0; else noDeductions">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Deduction</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let deduction of salary.deductions; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ deduction.description }}</td>
                <td>{{ deduction.amount }}</td>
              </tr>
              <tr>
                <th colspan="2">Total</th>
                <th>{{ totalDeduction() }}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="text-right">
          <span><strong>Net Salary: </strong> {{ salary.netSalary }}/-</span>
        </div>
        <span><strong>Net Salary in Words: </strong> {{ salary.netSalaryInWords }}</span>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-6 col-12">
        <span><strong>Generated By: </strong>{{ salary.generatedBy }}</span>
      </div>
      <div class="col-md-6 col-12">
        <span><strong>Payment Mode: </strong>{{ salary.paymentMode | uppercase }}</span>
      </div>
      <div class="col-md-6 col-12">
        <span
          ><strong>Bank Details: </strong>
          {{ salary.bankDetails ? salary.bankDetails : '--' }}</span
        >
      </div>
      <div class="col-md-6 col-12">
        <span>
          <strong>Transaction Details: </strong>
          {{ salary.transactionDetails ? salary.transactionDetails : '--' }}
        </span>
      </div>
    </div>

    <br />

    <h6 class="text-center">
      <small>*This is Computer Generated Receipt, Does not Required any Stamp or Signature</small>
    </h6>

    <div class="row">
      <div class="col-12">
        <button
          class="float-right"
          type="button"
          (click)="print()"
          nbButton
          status="success"
          size="small"
        >
          <nb-icon icon="printer-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #noEarnings>
  <span class="text-center">No Earnings</span>
</ng-template>
<ng-template #noDeductions>
  <span class="text-center">No Deductions</span>
</ng-template>
