<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-9 col-sm-8">
        <h3>Institute Users</h3>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row" *ngIf="!loading; else loadingData">
      <div class="col-12">
        <div class="table-responsive" *ngIf="institutes.length > 0; else noInstitutes">
          <table class="table">
            <thead>
              <th>#</th>
              <th>Institute</th>
              <th>IMS Master Id</th>
              <th>Contact</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let institute of institutes; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ institute.name | uppercase }}</td>
                <td>{{ institute.imsMasterId }}</td>
                <td>{{ institute.phone }}</td>
                <td>
                  <button
                    type="button"
                    nbButton
                    size="small"
                    status="primary"
                    (click)="viewInstitute(institute)"
                  >
                    View
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #loadingData>
  <p class="pt-5 pb-5 text-center">Loading...</p>
</ng-template>

<ng-template #noInstitutes>
  <p class="pt-5 pb-5 text-center">No Institutes Available</p>
</ng-template>
