.repeat-schedule-box {
  width: 60vw;
  height: auto;
}

@media only screen and (max-width: 1200px) {
  .repeat-schedule-box {
    width: 65vw;
  }
}

@media only screen and (max-width: 840px) {
  .repeat-schedule-box {
    width: 70vw;
  }
}

@media only screen and (max-width: 420px) {
  .repeat-schedule-box {
    width: 90vw;
  }
}

@media only screen and (max-width: 300px) {
  .repeat-schedule-box {
    width: 96vw;
  }
}
