<div class="row" *ngIf="branches.length === 0">
  <div class="col-md-10 col-12 mx-auto text-center">
    <nb-card>
      <nb-card-body>
        <img src="" alt="Institute" />
        <br />
        <h2>No Institute Added</h2>
        <br />
        <button nbButton status="primary" routerLink="../membership-plans">Add Institute</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-container *ngIf="branches.length > 0">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <nb-card status="success">
        <nb-card-header>
          <h5 class="text-white">Branches <small>0</small></h5>
        </nb-card-header>
      </nb-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <nb-card status="info">
        <nb-card-header>
          <h5 class="text-white">Branches <small>0</small></h5>
        </nb-card-header>
      </nb-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <nb-card status="warning">
        <nb-card-header>
          <h5 class="text-white">Branches <small>0</small></h5>
        </nb-card-header>
      </nb-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <nb-card status="danger">
        <nb-card-header>
          <h5 class="text-white">Branches <small>0</small></h5>
        </nb-card-header>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <nb-card>
        <nb-card-header>
          <div class="row">
            <div class="col-md-12">
              <button
                class="float-right"
                nbButton
                status="warning"
                size="small"
                routerLink="../membership-plans"
              >
                <span class="btn-add-branch-text">New Branch</span>
                <nb-icon icon="plus-circle-outline"></nb-icon>
              </button>
              <h3>My Branches</h3>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr *ngFor="let branch of branches">
                  <td>
                    <nb-user
                      size="medium"
                      [name]="branch.basicDetails.branchName | uppercase"
                      [title]="branch.address.city"
                    >
                    </nb-user>
                  </td>
                  <td>
                    <span class="">+91 {{ branch.basicDetails.phone }}</span>
                  </td>
                  <td>
                    <span [ngClass]="branch.status ? 'active' : 'inactive'">
                      <strong>{{ branch.status ? 'Active' : 'Inactive' }}</strong>
                    </span>
                  </td>
                  <td>
                    <button
                      *ngIf="branch.status"
                      class=""
                      nbButton
                      status="warning"
                      size="small"
                      (click)="manageBranch(branch._id)"
                    >
                      Manage
                    </button>
                    <button
                      *ngIf="!branch.status"
                      class=""
                      nbButton
                      status="danger"
                      size="small"
                      (click)="activateBranch(branch._id)"
                    >
                      Activate Now
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-4">
      <nb-card>
        <nb-card-header> </nb-card-header>
      </nb-card>
    </div>
  </div>
</ng-container>
