<div class="row" *ngIf="branches.length === 0">
  <div class="col-md-10 col-12 mx-auto text-center">
    <nb-card>
      <nb-card-body>
        <h1><i class="fa fa-university" aria-hidden="true"></i></h1>
        <h2>No Institute Added</h2>
        <br />
        <button nbButton size="small" status="primary" routerLink="../membership-plans">
          Add Institute
        </button>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- <ng-container *ngIf="branches.length > 0">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <nb-card status="success">
        <nb-card-header>
          <h5 class="text-white">Branches <small>0</small></h5>
        </nb-card-header>
      </nb-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <nb-card status="info">
        <nb-card-header>
          <h5 class="text-white">Branches <small>0</small></h5>
        </nb-card-header>
      </nb-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <nb-card status="warning">
        <nb-card-header>
          <h5 class="text-white">Branches <small>0</small></h5>
        </nb-card-header>
      </nb-card>
    </div>
    <div class="col-md-3 col-sm-6">
      <nb-card status="danger">
        <nb-card-header>
          <h5 class="text-white">Branches <small>0</small></h5>
        </nb-card-header>
      </nb-card>
    </div>
  </div> -->

<nb-card *ngIf="branches.length > 0">
  <nb-card-header>
    <div class="row">
      <div class="col-12">
        <button
          class="float-right"
          nbButton
          size="small"
          status="warning"
          routerLink="../membership-plans"
        >
          <span class="">New Institute</span>
          <nb-icon icon="plus-circle-outline"></nb-icon>
        </button>
        <h3>My Institutes</h3>
      </div>
    </div>
  </nb-card-header>
</nb-card>

<div class="row" *ngIf="branches.length > 0">
  <div class="col-md-3 col-sm-4 col-12" *ngFor="let branch of branches">
    <nb-card class="shadow-sm">
      <nb-card-header style="position: relative">
        <nb-badge
          [text]="branch.status ? 'Active' : 'Inactive'"
          [status]="branch.status ? 'success' : 'danger'"
          position="top right"
        ></nb-badge>
        <nb-user
          class="text-center"
          size="medium"
          [name]="branch.basicDetails.branchName"
        ></nb-user>
      </nb-card-header>
      <nb-card-body>
        <div class="text-center">
          <h4>{{ branch.basicDetails.branchName | uppercase }}</h4>
          <p>
            {{ branch.address.city }}<br />
            +91 {{ branch.basicDetails.phone }}
          </p>
        </div>
      </nb-card-body>
      <nb-card-footer class="text-right">
        <button
          *ngIf="branch.status"
          class=""
          nbButton
          size="small"
          status="warning"
          (click)="manageBranch(branch._id)"
        >
          Manage
        </button>

        <button
          *ngIf="!branch.status"
          class=""
          nbButton
          size="small"
          status="danger"
          (click)="activateBranch(branch._id)"
        >
          Activate Now
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
