.sm-device {
  display: block;
}

@media only screen and (max-width: 1200px) {
  .sm-device {
    display: block;
  }
}

@media only screen and (max-width: 840px) {
  .sm-device {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .sm-device {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  .sm-device {
    display: none;
  }
}
