<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"
      ><img src="../../../../assets/brand/class-master.png" width="75%" alt="IMS Master"
    /></a>
  </div>
  <nb-select selected="" (selectedChange)="changeSelect($event)" status="primary">
    <nb-option value="">Select Institute</nb-option>
    <nb-option *ngFor="let branch of branches" [value]="branch._id">{{ branch.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action
      class="control-item"
      icon="bell-outline"
      [nbPopover]="notificationPopup"
      nbPopoverPlacement="bottom"
      [badgeText]="unseenNotificationCount"
      badgePosition="top right"
      badgeStatus="danger"
      *ngIf="user.role !== 'admin'"
    ></nb-action>
    <nb-action class="control-item" icon="power-outline" (click)="logOut()"></nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user
        [nbContextMenu]="userMenu"
        [onlyPicture]="userPictureOnly"
        [name]="user?.name | uppercase"
      >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>

<ng-template #notificationPopup>
  <div class="notification-popup">
    <nb-list *ngIf="notifications && notifications.length > 0; else noNotifications">
      <nb-list-item
        *ngFor="let notification of notifications; let i = index"
        [ngClass]="notification.status ? 'new-notification' : ''"
      >
        <div class="row">
          <div class="col-10">
            <h6>
              <span
                class="pointer"
                (click)="openNotificationBox(notification, i, notificationDialog)"
              >
                {{ getNotificationLimitedTitle(notification.title) }}
              </span>
              <span>&nbsp;&nbsp;</span>
              <small>{{ dateService.getUpToTime(notification.date) }} ago</small>
            </h6>
          </div>
          <div class="col-2">
            <span class="delete-notification pointer float-right">
              <i
                (click)="deleteNotification(notification._id, notification.status, i)"
                class="fa fa-trash"
                aria-hidden="true"
              >
              </i>
            </span>
          </div>
          <div class="col-12">
            <span class="notification-text">
              {{ getNotificationLimitedMessage(notification.message) }}
            </span>
          </div>
        </div>
      </nb-list-item>
    </nb-list>
  </div>
</ng-template>

<ng-template #notificationDialog let-notification let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <h4>
        <span>{{ notification.title }}</span>
        <br />
        <small>{{ dateService.convertToDateTimeHourString(notification.date) }}</small>
      </h4>
    </nb-card-header>
    <nb-card-body>
      <div class="notification-modal">
        {{ notification.message }}
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button class="float-right" nbButton size="small" status="primary" (click)="ref.close()">
        Close
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #noNotifications>
  <p class="mt-2 mb-2 text-center">No Notifications Found</p>
</ng-template>
