<nb-card class="checkout">
  <nb-card-header>
    <button class="float-right" nbButton size="small" (click)="onClose()">
      <nb-icon icon="close"></nb-icon>
    </button>
    <h3>Checkout</h3>
  </nb-card-header>
  <nb-card-body>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Category:</th>
            <td>{{ studentCourse.categoryName }}</td>
          </tr>
          <tr>
            <th>Course/Batch:</th>
            <td>{{ studentCourse.courseName }}/{{ studentCourse.batchName }}</td>
          </tr>
          <tr>
            <th>Date:</th>
            <td>{{ dateService.formatDate(courseInstallment.date) }}</td>
          </tr>
          <tr>
            <th>Installment No:</th>
            <td>{{ installment.installmentNo }}</td>
          </tr>
          <tr>
            <th>Installment Date:</th>
            <td>{{ dateService.formatDate(installment.installmentDate) }}</td>
          </tr>
          <tr>
            <th>Installment Amount:</th>
            <td>{{ installment.installmentAmount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button class="float-right" nbButton size="small" status="primary" (click)="checkout()">
      Checkout
    </button>
  </nb-card-footer>
</nb-card>
