<div class="header-container">
  <div class="logo-container">
    <span class="logo pointer" routerLink="/">
      <img src="../../../../assets/brand/class-master.png" width="60%" alt="Class Master" />
    </span>
  </div>
</div>

<div class="header-container">
  <nb-actions size="medium">
    <nb-action id="home" class="control-item" routerLink="/">
      <span class="pointer">Home</span>
    </nb-action>
    <nb-action id="login" class="control-item" routerLink="/login">
      <span class="pointer">Login</span>
    </nb-action>
    <nb-action id="register" class="control-item" routerLink="/register">
      <span class="pointer">Register</span>
    </nb-action>
  </nb-actions>
</div>
