<div class="main-container">
  <div class="row">
    <div class="col-md-6 col-sm-10 col-12 mx-auto">
      <nb-card>
        <nb-card-body>
          <div class="text-center">
            <img src="../../../assets/brand/class-master.png" alt="THE CLASS MASTER" width="25%" />
          </div>
          <h1 id="title" class="title">Login</h1>
          <p class="sub-title">Hello! Log in with your email.</p>

          <form (ngSubmit)="login()" [formGroup]="form" aria-labelledby="title">
            <div class="form-control-group">
              <label class="label" for="email">Email address:</label>
              <input
                type="email"
                nbInput
                fullWidth
                name="email"
                id="email"
                placeholder="Email address"
                formControlName="email"
                autofocus
                [status]="
                  form.get('email').touched
                    ? form.get('email').invalid
                      ? 'danger'
                      : 'success'
                    : 'basic'
                "
              />
              <ng-container *ngIf="form.get('email').invalid && form.get('email').touched">
                <p class="caption status-danger" *ngIf="form.get('email').errors?.required">
                  Email is required!
                </p>
                <p class="caption status-danger" *ngIf="form.get('email').errors?.email">
                  Email should be the real one!
                </p>
              </ng-container>
            </div>

            <div class="form-control-group">
              <span class="label-with-link">
                <label class="label" for="input-password">Password:</label>
              </span>
              <input
                type="password"
                nbInput
                fullWidth
                formControlName="password"
                name="password"
                id="password"
                placeholder="Password"
                [status]="
                  form.get('password').touched
                    ? form.get('password').invalid
                      ? 'danger'
                      : 'success'
                    : 'basic'
                "
              />
              <ng-container *ngIf="form.get('password').invalid && form.get('password').touched">
                <p class="caption status-danger" *ngIf="form.get('password').errors?.required">
                  Password is required!
                </p>
                <p class="caption status-danger" *ngIf="form.get('password').errors?.minlength">
                  Password should contain minimum 7 characters
                </p>
              </ng-container>
              <a class="forgot-password caption-2" routerLink="/forgot-password"
                >Forgot Password?</a
              >
            </div>

            <br />

            <button nbButton size="medium" fullWidth status="primary" [disabled]="submit">
              Log In
            </button>
          </form>

          <br />

          <section class="another-action text-right" aria-label="Register">
            Don't have an account? <a class="text-link" routerLink="/register">Register Now</a>
          </section>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
