<nb-card class="membership-box">
  <nb-card-header>
    <nb-icon class="float-right pointer" icon="close-outline" (click)="onClose()"></nb-icon>
    <h3 class="">
      {{ membership.name | uppercase }}
    </h3>
  </nb-card-header>
  <nb-card-body>
    <form class="" (submit)="saveMembership()" [formGroup]="membershipForm">
      <div class="table-responsive">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>Plan Name</th>
              <td>:</td>
              <td>{{ membershipForm.value.name | uppercase }}</td>
            </tr>
            <tr>
              <th>Duration</th>
              <td>:</td>
              <td>{{ membershipForm.value.duration }} Month/s</td>
            </tr>
            <tr>
              <th>Price</th>
              <td>:</td>
              <td>
                <div class="form-control-group">
                  <input
                    type="number"
                    nbInput
                    id="input-price"
                    name="price"
                    min="0"
                    formControlName="price"
                    placeholder="Price"
                    fullWidth
                    [status]="
                      membershipForm.get('price').touched
                        ? membershipForm.get('price').invalid
                          ? 'danger'
                          : 'success'
                        : 'basic'
                    "
                  />
                  <ng-container *ngIf="membershipForm.get('price').touched">
                    <p
                      class="caption status-danger"
                      *ngIf="membershipForm.get('price').errors?.required"
                    >
                      Price Amount is required!
                    </p>
                    <p
                      class="caption status-danger"
                      *ngIf="membershipForm.get('price').errors?.min"
                    >
                      Price Amount should be more than or equal to 0
                    </p>
                  </ng-container>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-12 text-right">
          <button type="submit" nbButton size="small"><span>Save</span></button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
