<nb-card>
  <nb-card-header>
    <h3 class="page-heading text-center">
      {{ !course ? 'Add New Course' : 'Edit Course ' + (course.courseName | uppercase) }}
    </h3>
  </nb-card-header>
  <nb-card-body>
    <form class="" (submit)="saveCourse()" [formGroup]="courseForm">
      <h6>Course Details:</h6>
      <div class="row">
        <div class="col-md-8">
          <div class="form-control-group">
            <label class="label" for="input-billing-course-name">Course Name:</label>
            <input
              type="text"
              nbInput
              id="input-course-name"
              name="courseName"
              formControlName="courseName"
              placeholder="Course Name"
              minlength="3"
              maxlength="30"
              fullWidth
              [status]="
                courseForm.get('courseName').touched
                  ? courseForm.get('courseName').invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
            />
            <ng-container
              *ngIf="courseForm.get('courseName').invalid && courseForm.get('courseName').touched"
            >
              <p
                class="caption status-danger"
                *ngIf="courseForm.get('courseName').errors?.required"
              >
                User courseName is required!
              </p>
              <p
                class="caption status-danger"
                *ngIf="courseForm.get('courseName').errors?.minlength"
              >
                Course Name should contain minimum 3 characters
              </p>
            </ng-container>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-control-group">
            <label class="label" for="input-billing-category">Category:</label>
            <nb-select
              id="input-category"
              name="category"
              formControlName="category"
              placeholder="Select Category"
              fullWidth
              [status]="
                courseForm.get('category').touched
                  ? courseForm.get('category').invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
            >
              <nb-option value="">Select Category</nb-option>
              <nb-option *ngFor="let category of categories" [value]="category._id">{{
                category.category
              }}</nb-option>
            </nb-select>
            <ng-container
              *ngIf="courseForm.get('category').invalid && courseForm.get('category').touched"
            >
              <p class="caption status-danger" *ngIf="courseForm.get('category').errors?.required">
                Branch Category is required!
              </p>
            </ng-container>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-control-group">
            <label class="label" for="input-billing-description">Description:</label>
            <textarea
              type="text"
              nbInput
              id="input-description"
              name="description"
              formControlName="description"
              placeholder="Description (Optional)"
              fullWidth
            ></textarea>
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-8">
          <h6>Subject Details:</h6>
        </div>
        <div class="col-md-4 mb-3">
          <button type="button" nbButton fullWidth (click)="generateSubject()">
            Add Subject
          </button>
          <!-- <ng-container *ngIf="courseForm.touched">
            <p class="caption status-danger" *ngIf="courseForm.hasError('atLeastOneSubjectError')">
              At least 1 Subject is required!
            </p>
          </ng-container> -->
        </div>
      </div>

      <div class="row">
        <div
          class="col-md-6"
          *ngFor="let subject of courseForm.get('subjects')['controls']; let i = index"
        >
          <div class="form-control-group" [formGroup]="subject">
            <label class="label" for="input-subject-{{ i }}">Subject {{ i + 1 }}:</label>
            <nb-form-field>
              <input
                type="text"
                nbInput
                id="input-subject-{{ i }}"
                name="subject-{{ i }}"
                formControlName="subject"
                placeholder="Subject {{ i + 1 }}"
                fullWidth
                [status]="
                  subject.get('subject').touched
                    ? subject.get('subject').invalid
                      ? 'danger'
                      : 'success'
                    : 'basic'
                "
              />
              <button nbSuffix nbButton ghost (click)="deleteSubject()" *ngIf="i !== 0">
                <nb-icon icon="minus-outline" status="danger"> </nb-icon>
              </button>
            </nb-form-field>
            <ng-container *ngIf="subject.get('subject').invalid && subject.get('subject').touched">
              <p class="caption status-danger" *ngIf="subject.get('subject').errors?.required">
                Subject {{ i + 1 }} is required!
              </p>
            </ng-container>
          </div>
        </div>
      </div>

      <hr />

      <h6>Fee Details:</h6>
      <div class="row">
        <div class="col-md-3">
          <div class="form-control-group">
            <label class="label" for="input-fees">Fees:</label>
            <input
              type="text"
              pattern="\d*"
              nbInput
              id="input-fees"
              name="fees"
              formControlName="fees"
              placeholder="fees"
              fullWidth
              [status]="
                courseForm.get('fees').touched
                  ? courseForm.get('fees').invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
            />
            <ng-container *ngIf="courseForm.get('fees').invalid && courseForm.get('fees').touched">
              <p class="caption status-danger" *ngIf="courseForm.get('fees').errors?.required">
                Fee is required!
              </p>
            </ng-container>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-control-group">
            <nb-checkbox
              id="input-inclusive-GST"
              name="inclusiveGST"
              formControlName="inclusiveGST"
              (checkedChange)="calculateTotal()"
            >
              Inclusive GST
            </nb-checkbox>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-control-group">
            <label class="label" for="input-gst">GST (in %):</label>
            <input
              type="text"
              pattern="\d*"
              nbInput
              id="input-gst"
              name="gst"
              formControlName="gst"
              placeholder="GST (in %)"
              fullWidth
              [status]="
                courseForm.get('gst').touched && courseForm.get('gst').invalid ? 'danger' : 'basic'
              "
            />
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-control-group">
            <label class="label" for="input-total-fees">Total Fees:</label>
            <input
              type="text"
              pattern="\d*"
              nbInput
              id="input-total-fees"
              name="totalFees"
              formControlName="totalFees"
              placeholder="Total Fees"
              fullWidth
              disabled="true"
            />
          </div>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-md-12 text-right">
          <button nbButton type="submit">Save</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
