<div class="row" *ngIf="branches.length === 0">
  <div class="col-md-10 col-12 mx-auto text-center">
    <nb-card>
      <nb-card-body>
        <h1><i class="fa fa-university" aria-hidden="true"></i></h1>
        <h2>You are not assigned to any Institute Yet</h2>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row" *ngIf="branches.length > 0">
  <div class="col-md-3 col-sm-4 col-12" *ngFor="let branch of branches">
    <nb-card class="shadow-sm">
      <nb-card-header style="position: relative">
        <nb-user
          class="text-center"
          size="medium"
          [name]="branch.basicDetails.branchName"
        ></nb-user>
      </nb-card-header>
      <nb-card-body>
        <div class="text-center">
          <h4>{{ branch.basicDetails.branchName | uppercase }}</h4>
          <p>
            {{ branch.address.city }}<br />
            +91 {{ branch.basicDetails.phone }}
          </p>
        </div>
      </nb-card-body>
      <nb-card-footer class="text-right">
        <button
          *ngIf="branch.status"
          class=""
          nbButton
          size="small"
          status="warning"
          (click)="manageBranch(branch._id)"
        >
          Manage
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
