<nb-card>
  <nb-card-header>
    <h3>Transactions</h3>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="!loading; else loadingData">
      <div class="table-responsive" *ngIf="transactions.length > 0; else noTransactions">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>#</th>
              <th>Transaction Id</th>
              <th>Date</th>
              <th>Amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ transaction.order_id }}</td>
              <td>
                {{ dateService.formatDate(dateService.convertToDateString(transaction.createdAt)) }}
              </td>
              <td>{{ transaction.amount }}</td>
              <td>
                <button
                  type="button"
                  nbButton
                  size="small"
                  status="success"
                  (click)="viewTransaction(transaction)"
                >
                  View
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #loadingData>
  <p class="pt-5 pb-5 text-center">
    Loading...
  </p>
</ng-template>

<ng-template #noTransactions>
  <p class="pt-5 pb-5 text-center">
    No Transactions Available
  </p>
</ng-template>
