<nb-card>
  <nb-card-header>
    <button class="float-right" nbButton size="small" status="warning" (click)="back()">
      Back
    </button>
    <h4>Storage</h4>
  </nb-card-header>
  <nb-card-body>
    <div class="row" *ngIf="!loading; else loadingData">
      <div class="col-md-6 col-12">
        <p>
          <strong>Regular Storage: </strong>
          {{ convertByteToUnit(branchStorage.regularStorageAssigned) }}
        </p>
        <ng-container *ngIf="!!branchStorage.storagePackage">
          <p>
            <strong>Extra Storage Package: </strong>
            {{ branchStorage.storagePackage }}
          </p>
          <p>
            <strong>Extra Storage: </strong>
            {{ convertByteToUnit(branchStorage.extraStorageAssigned) }}
          </p>
          <p>
            <strong>Extra Storage Expires On: </strong>
            {{ dateService.formatDate(branchStorage.extraStorageExpireOn) }}
          </p>
        </ng-container>
        <p>
          <strong>Total Storage: </strong>
          {{ convertByteToUnit(branchStorage.totalStorageAssigned) }}
        </p>
      </div>

      <div class="col-md-6 col-12">
        <div class="progress-info">
          <h4>
            {{ availableStorage }} <small>left of {{ totalStorage }}</small>
          </h4>
          <nb-progress-bar [value]="usedStorageInPercentage" status="danger" [displayValue]="true">
            <span *ngIf="usedStorageInPercentage >= 25">&nbsp;Used</span>
          </nb-progress-bar>
          <div class="caption description">
            <bdi>{{ usedStorage }} Used</bdi>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <h6>Want to increase Storage?</h6>
    <h4>Storage Packages</h4>
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngIf="!loading; else loadingData">
      <div class="row" *ngIf="storagePackages.length > 0; else noPackages">
        <div
          class="col-md-3 col-sm-6 col-12 mx-auto"
          *ngFor="let package of storagePackages; let i = index"
        >
          <nb-card class="card">
            <nb-card-header>
              <h4 class="text-center">{{ package.packageName }}</h4>
            </nb-card-header>
            <nb-card-body>
              <div>
                <nb-icon icon="hard-drive-outline"></nb-icon>
                &nbsp;
                <span>{{ calculateStorageSize(package.storage) }}</span>
              </div>
              <div>
                <nb-icon icon="clock-outline"></nb-icon>
                &nbsp;
                <span>{{ dateService.convertDaysToMonths(package.validity) }} Month/s</span>
              </div>
              <div
                [ngClass]="
                  branchStorage.storagePackage && package.packageName > branchStorage.storagePackage
                    ? 'line-on-text'
                    : ''
                "
              >
                <nb-icon icon="pricetags-outline"></nb-icon>
                &nbsp;
                <span>{{ getAmount(package.price) }}/-</span>
              </div>
              <div *ngIf="package.packageName > branchStorage.storagePackage">
                <nb-icon icon="pricetags-outline"></nb-icon>
                &nbsp;
                <span>{{ upgradeAmount(package.price) }}/-</span>
              </div>
            </nb-card-body>
            <nb-card-footer>
              <button
                class="float-right"
                nbButton
                outline
                size="small"
                [status]="'success'"
                [nbTooltip]="isUpgradable(package) ? 'Can\'t Downgrade Package' : 'Upgrade Package'"
                (click)="activate(package)"
                [disabled]="isUpgradable(package)"
                *ngIf="branchStorage.storagePackage !== package.packageName; else activePackage"
              >
                {{
                  branchStorage.storagePackage && package.packageName > branchStorage.storagePackage
                    ? 'Upgrade'
                    : 'Activate'
                }}
              </button>
            </nb-card-footer>
          </nb-card>
        </div>
      </div>
    </ng-container>
  </nb-card-body>
</nb-card>

<ng-template #loadingData>
  <p class="pt-5 pb-5 text-center">Loading...</p>
</ng-template>

<ng-template #noPackages>
  <p class="pt-5 pb-5 text-center">No Storage Packages</p>
</ng-template>

<ng-template #activePackage>
  <button class="float-right" nbButton size="small" [status]="'success'">
    {{ 'Active' }}
  </button>
</ng-template>
