<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-12">
        <button class="float-right" nbButton size="small" status="warning" (click)="back()">
          Back
        </button>
        <h3>Attendance</h3>
      </div>
    </div>
  </nb-card-header>
</nb-card>

<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-3 col-sm-4"></div>

      <div class="col-md-3 col-sm-4">
        <nb-select
          id="select-subject"
          name="subject"
          [selected]="subject"
          fullWidth
          placeholder="All Subjects"
          (selectedChange)="onSelectSubject($event)"
        >
          <nb-option value="">All Subjects</nb-option>
          <nb-option *ngFor="let subject of subjects" [value]="subject._id">{{
            subject.subject
          }}</nb-option>
        </nb-select>
      </div>

      <div class="col-md-3 col-sm-4">
        <nb-select
          id="select-year"
          name="year"
          [selected]="year"
          fullWidth
          placeholder="All Years"
          (selectedChange)="onSelectYear($event)"
        >
          <nb-option value="">All Years</nb-option>
          <nb-option *ngFor="let year of years" [value]="year">{{ year }}</nb-option>
        </nb-select>
      </div>

      <div class="col-md-3 col-sm-4">
        <nb-select
          id="select-month"
          name="month"
          [selected]="month"
          fullWidth
          placeholder="All Months"
          (selectedChange)="onSelectMonth($event)"
        >
          <nb-option value="">All Months</nb-option>
          <nb-option *ngFor="let month of months" [value]="month.monthNo">{{
            month.month
          }}</nb-option>
        </nb-select>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body class="body-container">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-6 col-12">
            <span><strong>Total Lectures: </strong>{{ totalLectures }}</span>
          </div>
          <div class="col-md-6 col-12">
            <span><strong>Attendance Percentage: </strong>{{ attendancePercentage }}</span>
          </div>
          <div class="col-md-6 col-12">
            <span><strong>Total Present: </strong>{{ totalPresent }}</span>
          </div>
          <div class="col-md-6 col-12">
            <span><strong>Total Absent: </strong>{{ totalAbsent }}</span>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-md-12">
        <ng-container *ngIf="!loading; else loadingData">
          <div class="table-responsive" *ngIf="attendance.length > 0; else noAttendance">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Date</th>
                  <th>Subject</th>
                  <th>Topic</th>
                  <th>Attendance</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let atten of attendance; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ dateService.formatDate(atten.date) }}</td>
                  <td>{{ atten.subject }}</td>
                  <td>{{ atten.topic }}</td>
                  <td>
                    <span [ngClass]="atten.attendance ? 'present' : 'absent'">{{
                      atten.attendance ? 'Present' : 'Absent'
                    }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #noAttendance>
            <p class="text-center pt-5 pb-5">No Attendance Available</p>
          </ng-template>
        </ng-container>
        <ng-template #loadingData>
          <p class="text-center pt-5 pb-5">Loading...</p>
        </ng-template>
      </div>
    </div>
  </nb-card-body>
</nb-card>
